*.class
*.log
HarpoCore/.settings
HarpoCore/bin
*.cache
HarpoExecutive/.settings
HarpolParser/.settings
HarpolParser/bin
HarpoTests/.settings
HarpoTests/tests/bin
/.metadata/
*.cache-main
/.recommenders/
HarpoCompiler/.settings
